<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApp4.Properties.Settings.jakieleki_databaseConnectionString"
            connectionString="Data Source=LAPTOP-7A24ETEU\SQLEXPRESS03;Initial Catalog=jakieleki_database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>